body {
    font-family: 'Lato', sans-serif;
}
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
   a.active {
    background: rgba(37, 37, 37, 0.7);
    border-radius: 60px;
    color: white;
    margin-left: 44%;
    margin-right: 44%;
}
  
  @media screen and (max-height: 450px) {
    
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}
  /*under 425px*/
  @media only screen and (max-width: 424px) {
    a.active {
      background: rgba(37, 37, 37, 0.7);
      border-radius: 60px;
      color: white;
      margin-left: 22%;
      margin-right: 22%;
    }
}
  
  /*under 768px*/
  @media only screen and (max-width: 767px) and (min-width: 425px) {
    a.active {
      background: rgba(37, 37, 37, 0.7);
      border-radius: 60px;
      color: white;
      margin-left: 32%;
      margin-right: 32%;
    }
}
  
  /*under 1080px*/
  @media only screen and (min-width: 768px) and (max-width: 1080px) {
    a.active {
      background: rgba(37, 37, 37, 0.7);
      border-radius: 60px;
      color: white;
      margin-left: 40%;
      margin-right: 40%;
    }
}
  
  /* under 1440px */
  @media only screen and (min-width: 1081px) and (max-width: 1440px) {
    a.active {
      background: rgba(37, 37, 37, 0.7);
      border-radius: 60px;
      color: white;
      margin-left: 42%;
      margin-right: 42%;
    }
}
